body{
    background-color: lavender;

}

button {
  width: 300px;
  height: 50px;
  margin-left: 8px;
  border-color: rgb(105, 105, 158);
  color:rgb(48, 48, 165) ;
  border-radius: 15px;
  cursor: pointer;
  


}

.correct{
   
  cursor: not-allowed;
  &:disabled{
    background-color:green;
    cursor:not-allowed;
    
  }

}
.wrong{
  cursor: not-allowed;

  &:disabled{
    background-color: red;
    cursor:not-allowed;
  }
}

.container{
    text-align: center;
    font-size: 20px;
    color: rgb(28, 28, 82);
    margin-left: 50px;



.card {
    box-shadow: 4px 6px 10px 0 rgba(66, 22, 224, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    width: 400px;
    height: 500px;
    display: flex;
    margin-left: 700px;
    margin-top: 70px;
    font-size: 20px;
    align-items: center;
    background-color: rgb(151, 151, 207);
  
  h1{
    margin-top: 60px;
  }

  p{
    margin-right: 100px;
    margin-top: 10px;
    font-size: 30px;
  }

  }


  .next{
    margin-top: 400px;
   width: 90px;
   height: 20px;
   margin-right: 800px;
   margin-left: 0px;
   border: none;
    color:rgb(105, 105, 158) ;
    border-radius: 10px;
    cursor:auto;
  }

}
.card {
  box-shadow: 4px 6px 10px 0 rgba(49, 5, 207, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  width: 400px;
  height: 500px;
  display: flex;
  margin-left: 700px;
  margin-top: 70px;
 background-color: rgb(151, 151, 207);
 

 .score-container{
  font-size: 20px;
  margin-left: 80px;
  margin-top: 60px;

  h3{
    margin-left: 40px;
    font-size: 30px;
    color: white;

  }
  span{
    margin-left: 60px;
    color: white;

  }
 }
}

